<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.kktoolkitdemo"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="18" />

	<application
		android:name=".ExampleApp"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat" >
		<service android:name=".notification.ExampleService" />

		<activity
			android:name="MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".eventqueue.EventQueueActivity"
			android:label="KKEventQueue" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".viewpager.InfiniteViewPagerActivity"
			android:label="InfiniteViewPager" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".resizableview.ResizableViewActivity"
			android:label="ResizableView" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".messageview.KKMessageViewActivity"
			android:label="KKMessageView" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".listview.KKDragAndDropListViewActivity"
			android:label="KKDragAndDropListView" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".listview.KKListViewActivity"
			android:label="KKListView" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".tabfragment.ActivityTabFragment"
			android:label="KKTabFragment"
			android:theme="@style/KKTabTheme" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".image.ImageManagerActivity"
			android:label="KKImageManager" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".api.KKAPIActivity"
			android:label="KKAPIBase" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".fragment.ListFragmentActivity"
			android:label="KKFragment" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".notification.ActivityNotification"
			android:label="KKDialog" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".notification.EmptyActivity"
			android:label="KKDialog" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
	</application>

</manifest>